name: Continuous Integration
on:
  workflow_dispatch: null
  push:
    branches:
      - main
  pull_request: null

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Vet
        run: make vet
      - name: Lint
        run: make lint
      - name: Test
        run: make test
      - name: Test (elevated)
        run: make elevated-test
      - name: Build
        run: make build
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            linode/linode-blockstorage-csi-driver
          tags: |
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=semver,pattern={{raw}},value=${{ github.ref_name }}
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          file: "./Dockerfile"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            REV=${{ github.ref_name }}
